#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-140cdbda-9bbf-4ec7-9701-578da05978a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}