#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-22217819-e8ac-4847-b95a-d02ec1c245aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}