#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Input_2 INPUT {
  font-family: Arial;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Line_1 {
  rotation: 236.0;
  margin-left: 37px;
  margin-top: -91px;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3e37a864-c5f8-4acb-8b6f-1a77098684c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}