#s-781c9308-2275-4465-a8f2-feec3af5c6e5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Group_1 {
  position: absolute;
  width: 416px;
  height: 736px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_1 > svg {
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_1 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_1 > img, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_1 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_2 > svg {
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_2 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_2 > img, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_2 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_3 > svg {
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_3 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_3 > img, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_3 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FC361D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 {
  position: absolute;
  width: 351px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 > .paddingLayer {
  height: 40px;
  width: 351px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Group_2 {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_4 {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_4 > img, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_4 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Group_4 {
  position: absolute;
  width: 393px;
  height: 232px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 textarea::-webkit-input-placeholder {
  color: #808080;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 textarea::-moz-placeholder {
  color: #808080;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 textarea:-moz-placeholder {
  color: #808080;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 textarea:-ms-input-placeholder {
  color: #808080;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 {
  position: absolute;
  width: 0px;
  height: 227px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 textarea {
  height: 201px;
  width: 87px;
  margin-top: 17px;
  margin-bottom: 9px;
  margin-left: 6px;
  margin-right: 1px;
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #shapewrapper-s-Line_3 marker {
  fill: #FC361D;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 393px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Line_3 {
  width: 94px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #FC361D;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 {
  position: absolute;
  width: 416px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 > .paddingLayer {
  height: 40px;
  width: 416px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 20.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 {
  position: absolute;
  width: 306px;
  height: 45px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 > .paddingLayer {
  height: 39px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_35 > svg {
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_35 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_35 > img, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Image_35 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 688px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 > .paddingLayer {
  height: 688px;
  width: 414px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Group_6 {
  position: absolute;
  width: 330px;
  height: 163px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Group_5 {
  position: absolute;
  width: 330px;
  height: 163px;
  z-index: 100;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 {
  position: absolute;
  width: 330px;
  height: 163px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 > .paddingLayer {
  height: 161px;
  width: 328px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 {
  position: absolute;
  width: 268px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 > .paddingLayer {
  height: 57px;
  width: 268px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 {
  position: absolute;
  width: 328px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 > .paddingLayer {
  height: 50px;
  width: 328px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 {
  position: absolute;
  width: 276px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 > .paddingLayer {
  height: 30px;
  width: 276px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 14.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #shapewrapper-s-Line_2 marker {
  fill: #DDDDDD;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 329px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Line_2 {
  width: 329px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 {
  position: absolute;
  width: 82px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 > .clipping, #s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 > .paddingLayer {
  height: 25px;
  width: 82px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 12.0pt;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-781c9308-2275-4465-a8f2-feec3af5c6e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}