#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_12 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FAFAFA;
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Line_3 {
  stroke-width: 2px;
  stroke: #FC361D;
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Line_3 {
  stroke-width: 2px;
  stroke: #FC361D;
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 39px;
  width: 300px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a0d18e02-42db-4b87-ad52-4f1c4e6d781e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}