#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_4 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_4 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_5 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_5 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_6 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_6 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_7 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_7 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_8 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_8 {
  stroke-width: 2px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_1 {
  stroke-width: 8px;
  stroke: #FAFAFA;
  -ms-transform: rotate(300.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Line_1 {
  stroke-width: 8px;
  stroke: #FAFAFA;
  -ms-transform: rotate(300.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Ellipse_2 {
  stroke-width: 6px;
  stroke: #FAFAFA;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c5de5a21-2a5e-4b03-883a-ed0d4448c80a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}