#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c8decab3-1f91-435a-9550-f7b43e3c1248 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}