#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Line_6 {
  rotation: 225.0;
  margin-left: 1px;
  margin-top: -32px;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 #s-Ellipse_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ce5c5776-5a8d-4bdc-9b95-b4c9bed36f96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}