#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Input_2 INPUT {
  font-family: Arial;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d47d767a-2798-4a50-bf15-9d1dcb8f87eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}