#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Input_2 INPUT {
  font-family: Arial;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d5a1d1d6-8c53-4e6a-80dd-3de19056df3a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}