#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}