#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}