#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Group_1 {
  position: absolute;
  width: 414px;
  height: 736px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_1 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_3 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_4 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FC361D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 {
  position: absolute;
  width: 201px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 > .paddingLayer {
  height: 40px;
  width: 201px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Group_2 {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_5 {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_5 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_5 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 > .paddingLayer {
  height: 48px;
  width: 342px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 72px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 {
  position: absolute;
  width: 412px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 > .clipping, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 > .paddingLayer {
  height: 48px;
  width: 340px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 72px;
  padding-right: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_6 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_7 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 > svg {
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 > img, #s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa #s-Image_9 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dbd16b86-5365-4c98-bfaf-b67cdebccdfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}