#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Input_1 INPUT {
  font-family: Arial;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Input_2 INPUT {
  font-family: Arial;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e225c866-c97e-4f44-b5f8-00f9285bdaf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}