#s-0d261b41-4227-493d-8fe5-52cd7ac6663e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Empty_screen_color_top {
  position: absolute;
  width: 414px;
  height: 736px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Square > svg {
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Square > img, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Circle > svg {
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Circle > img, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Triangle > svg {
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Triangle > img, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FC361D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text {
  position: absolute;
  width: 201px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text > .paddingLayer {
  height: 40px;
  width: 201px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Status-bar {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-signals > img, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 {
  position: absolute;
  width: 412px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 > .paddingLayer {
  height: 40px;
  width: 412px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 {
  position: absolute;
  width: 306px;
  height: 45px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 > .paddingLayer {
  height: 39px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 {
  position: absolute;
  width: 306px;
  height: 45px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 > .paddingLayer {
  height: 39px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #shapewrapper-s-Line_1 {
  position: absolute;
  width: 159px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Line_1 {
  width: 159px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #shapewrapper-s-Line_2 {
  position: absolute;
  width: 169px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Line_2 {
  width: 169px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 {
  position: absolute;
  width: 82px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 > .paddingLayer {
  height: 25px;
  width: 82px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Image_71 > svg {
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Image_71 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Image_71 > img, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Image_71 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Group_1 {
  position: absolute;
  width: 251px;
  height: 68px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #E6E6E6;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 {
  position: absolute;
  width: 63px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 > .paddingLayer {
  height: 48px;
  width: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #E6E6E6;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 {
  position: absolute;
  width: 63px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 > .clipping, #s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 > .paddingLayer {
  height: 48px;
  width: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit input::-moz-placeholder {
  color: #B4B4B4;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit input:-moz-placeholder {
  color: #B4B4B4;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit {
  position: absolute;
  width: 110px;
  height: 48px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Revit_HEB_DWG',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Unit > .paddingLayer {
  height: 46px;
  width: 103px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}