#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0d261b41-4227-493d-8fe5-52cd7ac6663e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}