#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Title_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Title_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-raised_Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 268px;
  width: 308px;
  -ms-transform: rotate(0.0deg);
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-17d65993-ef91-4d6e-b716-93197b7588d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}