#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Empty_screen_color_top {
  position: absolute;
  width: 414px;
  height: 736px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Square > svg {
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Square > img, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Circle > svg {
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Circle > img, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Triangle > svg {
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Triangle > img, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FC361D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text {
  position: absolute;
  width: 201px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text > .paddingLayer {
  height: 40px;
  width: 201px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Status-bar {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Montserrat-Light',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-signals > img, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title {
  position: absolute;
  width: 348px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title > .paddingLayer {
  height: 37px;
  width: 348px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 20.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title span#rtr-s-Title_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 {
  position: absolute;
  width: 152px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'OpenSans-SemiBold',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 > .paddingLayer {
  height: 43px;
  width: 152px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 20.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'OpenSans-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Search-input {
  position: absolute;
  width: 391px;
  height: 45px;
  z-index: 100;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search {
  position: absolute;
  width: 342px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Input_search > .paddingLayer {
  height: 25px;
  width: 212px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 110px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,#FC361D,#6E0D01);
  background-image: -webkit-linear-gradient(top,#FC361D,#6E0D01);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FC361D), color-stop(100%,#6E0D01));
  background-image: -o-linear-gradient(top,#FC361D,#6E0D01);
  background-image: linear-gradient(to bottom,#FC361D,#6E0D01);
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search {
  position: absolute;
  width: 110px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search > .paddingLayer {
  height: 45px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search span#rtr-s-search_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: url('../../images/e9112c3f-91fa-40bf-ad03-bb925aeca55e.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 {
  position: absolute;
  width: 377px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 > .paddingLayer {
  height: 129px;
  width: 377px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 span#rtr-s-raised_Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/e7173e5f-7461-4a0c-b8ad-c6b85a1a489e.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 {
  position: absolute;
  width: 379px;
  height: 138px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 > .paddingLayer {
  height: 138px;
  width: 379px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 span#rtr-s-raised_Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: url('../../images/942acbdf-f341-4eb9-b75e-ecb1e6f21304.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 {
  position: absolute;
  width: 379px;
  height: 132px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Montserrat-Regular',Arial;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 > .clipping, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 > .paddingLayer {
  height: 132px;
  width: 379px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 span#rtr-s-raised_Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Image_71 > svg {
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Image_71 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Image_71 > img, #s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Image_71 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}