#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1acb226a-32c8-4e22-9fe2-bb04141bb1fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}