#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-247703e2-f22c-41f1-9333-5513978390d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}