#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}