#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2b62e068-5db9-489c-beb4-1bcd0cda4e27 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}