#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Under_line {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Screen-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Pinmap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-layers-bg {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-layers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Paragraph_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3a3d1f6a-c497-4a89-8b4f-be112495ebc7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}