#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 164px;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 164px;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 164px;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 164px;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}