#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-raised_Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42bb091f-35f2-4cd2-9938-fe9ffb7105fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}