#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-star-1_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-46e7b686-53c3-4575-afdf-7cabb79b3fc0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}