#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Title_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-522701ff-2e0d-4bed-a870-6bfe0be91888 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}