#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 39px;
  width: 300px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Link {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Picture {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Paragraph_70 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Paragraph_77 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_6 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_6 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Paragraph_81 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Paragraph_80 {
  -ms-transform: rotate(0.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_5 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 #s-Line_5 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-66cac2e2-00c2-4af3-8286-411ecd245ac1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}