#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-raised_Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-raised_Button_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-raised_Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 132px;
  width: 385px;
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 10px 10px 10px 10px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 #s-Label_42 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FAFAFA;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7310ee6f-c85c-4d3e-8706-d73fb3a130f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}