#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-search {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -pie-background: linear-gradient(to bottom,#FC361D,#6E0D01);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8063acfa-27de-4ccf-bc1d-d4513dda7031 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}