#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-807ab40b-3f53-4119-8e69-e8473db8d87a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}