#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-92f1d21a-4a1c-440b-8a67-cff303f50d79 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}