#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Two-line-item_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Two-line-item_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9bdc651b-9c36-4f9f-96f9-e8ca5a489b69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}