#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-raised_Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-raised_Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a2ee372e-c343-4ebb-ba6c-c91c69d7308d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}