#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-search {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Paragraph_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Paragraph_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Paragraph_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Paragraph_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 #s-Line_5 {
  rotation: 90.0;
  margin-left: 27px;
  margin-top: -28px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ac242c32-b611-4bb0-8bc2-108394c920f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}