#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-raised_Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Paragraph_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b #s-Line_5 {
  rotation: 90.0;
  margin-left: 27px;
  margin-top: -28px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba1aaa15-3999-4e91-835c-ff721bf51e6b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}