#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Input_search {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-search {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -pie-background: linear-gradient(to bottom,#FC361D,#6E0D01);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Rectangle_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Paragraph_70 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Paragraph_77 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Line_6 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Line_6 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Paragraph_81 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Paragraph_80 {
  -ms-transform: rotate(0.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Line_5 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd #s-Line_5 {
  stroke-width: 1px;
  stroke: #DDDDDD;
  -ms-transform: rotate(90.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ce5bcee4-5663-4707-86e0-794cba8892dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}