#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d27c13f8-a588-4a4b-bf04-57a529fcb93d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}