#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-raised_Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7b5fb6f-95c7-4abe-bba8-b60519549251 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}