#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e226bf38-f585-417e-a6d0-e4c54c29ffe2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}