#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ea8d4e83-ab65-48d7-b5c0-6b78b36a1df8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}