#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f029c3f0-3cef-4428-8775-3a846c427dfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}