#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-BgWhite_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Black-cover_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Panel_8 {
  border-radius: 0px 0px 0px 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Panel_8 > .valign {
  vertical-align: top;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Rectangle_116 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_status_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Line_1 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Line_1 {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_33 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 59px 59px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_34 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_35 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_42 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 22px 22px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_status_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Left-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Right-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph {
  -ms-transform: rotate(0.0deg);
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}