#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-BgWhite_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Black-cover_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_status_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Two-line-item_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-menu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Bg_status_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-star-1_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Left-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Right-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9baa62c-5e41-4291-b971-6fac30ae474f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}